body {

background-color: #D9F4F4;}

.start {background-color: #C2D4AC;}

.restart {background-color: #E7B5AC;}

h2 {color: #57A0C8;}

#wrapper {

margin-left:auto;
margin-right:auto;
width:960px;}